body {
  overflow-x: hidden;
}


#flag-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #C6E6FA;
  width: 95%;
  margin: auto;
  margin-top: 5%;
}

.flag-icon {
  width: 20%;
  padding: 5%;
}

.flag-icon img {
  width: 100%;
}

#ticker-container {
  overflow-x: nowrap;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0%;

  font-family: "Parkinsans", sans-serif;
  font-size: 4em;
  font-weight: 4em;
  font-style: normal;
  height: 10%;

}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 120s linear infinite;
}

.marquee2 span {
  animation-delay: -60s;
}


.marquee::after {
  height: 1px;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}