<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Parkinsans:wght@300..800&family=SUSE:wght@100..800&display=swap" rel="stylesheet">

</head>
<body>
    <div id="app">
        <div id="lang-select" v-if="shouldRender">
            <div id="ticker-container">
                <p class="marquee">
                    <span>Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! -&nbsp;</span>
                </p>
                <p class="marquee marquee2">
                    <span>Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! Hello! Hola! Bonjour! يوم جيد 你好! Привет! -&nbsp;</span>
                </p>
            </div>

            <div id="flag-container">
                <div class="flag-icon" id="flag-en" @click="() => handleFlagClick('en')">
                    <img src="{{ url_for('static', filename='images/flag-en.png') }}">
                </div>
                <div class="flag-icon" id="flag-es" @click="() => handleFlagClick('es')">
                    <img src="{{ url_for('static', filename='images/flag-es.png') }}">
                </div>
                <div class="flag-icon" id="flag-fr" @click="() => handleFlagClick('fr')">
                    <img src="{{ url_for('static', filename='images/flag-fr.png') }}">
                </div>
                <div class="flag-icon" id="flag-ar" @click="() => handleFlagClick('ar')">
                    <img src="{{ url_for('static', filename='images/flag-ar.png') }}">
                </div>
                <div class="flag-icon" id="flag-ru" @click="() => handleFlagClick('ru')">
                    <img src="{{ url_for('static', filename='images/flag-ru.png') }}">
                </div>
                <div class="flag-icon" id="flag-cn" @click="() => handleFlagClick('cn')">
                    <img src="{{ url_for('static', filename='images/flag-cn.png') }}">
                </div>
            </div>
        </div>

        <div id="info-screen" v-if="!shouldRender">
            

            <div id="lcol">
                <h1 class="info-title">[[ title ]]</h1>
                <button @click="returnHome">Go Back</button>
                <button id="capture-button" class="btn btn-primary mt-3" @click="takePicture">Take Picture</button>
            </div>
            <div id="rcol">
                <p class="info-body">[[ body ]]</p>

            </div>
            
            
            
            <!-- <img
            id="video-stream"
            src="{{ url_for('video_feed') }}"
            width="640"
            height="480"
            /> -->
            <!-- <br />
            <button type="button" class="btn btn-success" onclick="startVideoFeed()">
            Start Video Feed
            </button>
            <button type="button" class="btn btn-danger" onclick="stopVideoFeed()">
            Stop Video Feed
            </button> -->

            <!-- <script id="video">
            function stopVideoFeed() {
                // Send POST request to stop the feed
                fetch("/stop_feed", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                });
                // Keep the src unchanged so the last frame remains visible
            }

            function startVideoFeed() {
                // Send POST request to start the feed
                fetch("/start_feed", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                }).then(() => {
                // Temporarily clear the video stream and reset the src
                const videoStream = document.getElementById("video-stream");
                videoStream.src = ""; // Clear the src temporarily
                setTimeout(() => {
                    videoStream.src = "/video_feed"; // Reset src to start feed
                }, 100); // Small delay to ensure feed is restarted
                });
            }
            </script>
                </div>
            </div> -->
</body>
</html>
